*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px dashed purple */
}

body{
    background-color: hsl(185, 41%, 84%);
    min-height: 100vh;
    font-family: 'Space Mono';
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    max-width: 900px; /*1400px*/
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
    justify-content: center;
    flex-grow: 1;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    /* gap: .8rem; */
}


.result_container{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.result_container p{
    font-size: 2.5rem;
    font-weight: 900;
    color: hsl(172, 67%, 45%);
}

.result_container h4{
    font-size: .8rem;
    color: hsl(186, 14%, 56%);
    text-transform: lowercase;
}

.parent_container{
    width: 85%;
}

.labels{
    font-size: 1rem;
    text-transform: capitalize;
}

.container .labels{
    margin-bottom: .5rem;
}

.child_data{
    font-size: 1.5rem;
}

.reset_container{
    text-align: center;
    /* width: ; */
    margin: 2rem 1rem 1rem;
}

.reset_container button{
    width: 100%;
    padding: .5rem;
    text-transform: uppercase;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border: none;
    border-radius: .4rem;
    font-family: 'Space Mono';
    font-size: 1.25rem;
    font-weight: 600;
}

.reset_container button:hover{
    background-color: hsl(172, 67%, 75%);
}

.second.parent_container{
    background-color: hsl(183, 100%, 15%);
    border-radius: 1.10rem;
    color: white;
}

.container button,.container input{
    border-radius: 5px;/*.2rem*/
    border: none;
    padding: .5rem;
    font-family: 'Space Mono';
    color: white;
    background-color: hsl(183, 100%, 15%);
    font-weight: 525;
}

.container input{
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-weight: 600;
}

.discount{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 182px; /*161px*/
    gap: 0.8rem;
    margin-top: 0;
}

.discount button,.discount input{
    width: calc(50% - 0.4rem);
}

.discount button:hover/*.discount input:hover*/{
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
}

.tips.active{
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 75%);
}

#bill:focus,#numberOfPeople:focus, #custom:focus{
    outline:  2px solid hsl(172, 67%, 45%);
    /* border: black solid 1px; */
}

#custom{
    background-color: hsl(189, 41%, 97%);
    font-size: 1.5rem;
}

#custom,#bill,.tips,#numberOfPeople,#reset_button{
    cursor: pointer;
}

#custom,#bill,#numberOfPeople{
    text-align: right;
}

input.child_data{
    width: 100%;
}

#dollar, #people_icon{
    position: relative;
}

#dollar::before{
    position: absolute;
    content: url('images/icon-dollar.svg');
    top: 35%;
    left: 5%;
}

#people_icon::before{
    position: absolute;
    content: url('images/icon-person.svg');
    top: 35%;
    left: 5%;
}

.error_container{
    display: flex;
    justify-content: space-between;
}

#error_msg{
    display: none;
    color: crimson;
}

@media screen and (min-width:800px) {
    .parent_container{
        width: 70%;
    }
}

@media screen and (min-width:1101px) {
    section{
        flex-direction: row;
        align-items: stretch;
    }

    .second.parent_container{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .reset_container button{
        width: 80%;
        margin: 2rem 1rem 1.5rem;
    }

    .discount button,.discount input{
        width: calc(31.5% - 0.1rem);
    }

    .discount{
        flex-direction: row;
        height: 120px;
    }
}
